.row
{
    margin: 0.25rem 0.3rem 0.6rem;
    padding: 0.2rem;
    background-color: #FFF;
    border-radius: 0.05rem;
    box-shadow: -3px 3px 20px 0px #989292;
}

.img {
    margin-top: 0.1rem;
    width: 2.4rem;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.content {
    padding: 0.2rem;
    line-height: 0.45rem;
    font-size: 0.3122rem;
}

.tips{
    padding-left: 0.2rem;
    padding-top: 0.05rem;
    font-size: 0.28rem;
    color: gray;
}