* {
	margin: 0;
	padding: 0;
}
.top {
	position: relative;
	height: 3.2rem;
}
.name {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 0.74rem;
	line-height: 0.74rem;
	background-color: rgba(0, 194, 255, 0.5);
	text-align: center;
	color: #FFF;
	font-size: 0.35rem;
}
.blank {
	width: 100%;
	height: 0.6rem;
	background-color: #00C2FF;
}
.fullPage{
	height: 100vh;
}