.frame{
	position: relative;
	margin-right: 0.25rem;
	margin-left: 0.25rem;
	margin-bottom: 0.08rem;
	background-color: white;
	padding: 0.2rem 0.6rem 0.2rem 0.6rem;
  box-shadow: -4px 3px 16px 0px #d2d2d2;
}
.image{
	width: 1.5rem;
}
.parkdata{
	padding-left: 0.45rem;
	margin-left: 0 !important;
}
.titledata{
	font-size: 0.36rem;
}
.fielddata{
	padding-top: 0.2rem;
	line-height: 0.35rem;
	font-size: 0.25rem;
}